<table class="table table-striped table-bordered">
	<caption>
		<h2 class="text-center">MEAN Posts</h2>
		<button type="button" class="btn btn-info" ng-click="open()">New Post</button>
	</caption>
	<thead>
		<tr class="bg-info">
			<th>ID</th>
			<th>Title</th>
			<th>Body</th>
			<th>Date</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="post in posts">
			<td>{{$index + 1}}</td>
			<td>{{post.title}}</td>
			<td>{{post.body}}</td>
			<td>{{post.created | date : 'dd MMM yyyy'}}</td>
			<td>Action</td>
		</tr>
	</tbody>
</table>

<!-- Modal -->

<script type="text/ng-template" id="createPost.html">
	<form name="postForm" ng-submit="save()">
		<div class="modal-header">
			<h4 class="modal-title">Create Post</h4>
		</div>
		<div class="modal-body">
			<div class="form-group">
				<label for="title">Title</label>
				<input type="text" class="form-control" name="title" ng-model="post.title" id="title" placeholder="Title" required>
			</div>
			<div class="form-group">
				<label for="body">Body</label>
				<textarea class="form-control" id="body" name="body" ng-model="post.body" placeholder="Type some cool stuff here :)"></textarea>
			</div>
			<div class="form-group">
				<label for="image">Image Url</label>
				<input type="url" class="form-control" name="image" ng-model="post.image" id="image" placeholder="Paste image url">
			</div>
		</div>
		<div class="modal-footer">
			<button type="submit" class="btn btn-info pull-left">Submit</button>
			<button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
		</div>
	</form>
</script>