<!DOCTYPE html>
<html ng-app="app">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Admin Login</title>
	<!-- Tell the browser to be responsive to screen width -->
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic"> -->
	<link rel="stylesheet" href="css/admin-site.min.css">

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body ng-class="{'hold-transition login-page': user == null, 'hold-transition skin-purple sidebar-mini':user != null}">
    	<div class="{'content-wrapper': user != null}" set-height>
            <toaster-container></toaster-container>
    		<div ng-if="user != null" admin-header></div>
    		<div ng-if="user != null" admin-sidebar></div>
    		<div ng-class="{'content-wrapper': user != null}">
    			<div ng-view></div>
    		</div>	
    	</div>

    	<script src="js/admin-site.min.js"></script>
		<script src="js/admin-app.min.js"></script>
    </body>
</html>